<h2>
    Create new location
</h2>

<%= render 'location_form' %>

<h2>
    Edit existing locations
</h2>

<table>
    <tr>
        <td>Name</td>
        <td>Description</td>
        <td>Edit</td>
    </tr>

    <% @locations.each do |location| %>
        <tr>
            <td>
                <%= location.name %>
            </td>
            <td>
                <%= location.description %>
            </td>
            <td>
                <%= button_to "Edit", location_edit_path(location), :method => :get %>
            </td>
            <td>
                <%#= link_to "Delete", location_delete_path(location) %>
                <%= button_to "delete", location, :method => :delete %>
            </td>
            <td>
                <%= button_to "Paths", path_edit_path(location), :method => :get %>
            </td>
        </tr>
    <% end %>
</table>
